TopTenMovies.API/Connected Services/GenreService/GenreService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://toptenmovies.wcf/GenreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TopTenMovies.Entities" />
  <xs:element name="GetGenres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TopTenMovies.Entities" minOccurs="0" name="GetGenresResult" nillable="true" type="q1:ArrayOfGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>